/* Reset some default styles */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
}

header {
    background-color: #1e1e1e; /* Dark header */
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #ffffff; /* White text */
}

nav ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; /* White links */
    transition: color 0.3s; /* Smooth color change on hover */
}

nav ul li a:hover {
    color: #f1c40f; /* Yellow on hover */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #1e1e1e; /* Dark section background */
    padding: 15px; /* Add padding for better spacing */
    border-radius: 8px; /* Rounded corners */
}

section h2 {
    margin-bottom: 10px;
    color: #f1c40f; /* Yellow color for section titles */
}

#projects p {
    margin-bottom: 1.5em; /* Adjust as needed */
}

footer {
    background-color: #1e1e1e; /* Dark footer */
    padding: 10px;
    text-align: center;
    color: #ffffff; /* White text */
}
